@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: #f0f0f0;
    height: 90vh;
}
/* Contéudo Principal */
.container{
    background-color: #FFF;
    width: 45%;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 0 0 1em #ccc;
}
/* Primeira Div Principal */
.container-box-first{
    background-color: #FFF;
    width: 100%;
    height: 45%;
    padding: 30px;
    border-radius: 10px;
}
/* Titulo da Primeira Div */
.container-box-first .title{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 1em;
    color: hsl(179, 62%, 43%);
}
.container-box-first h2{
    font-size: 1em;
    margin-bottom: 1em;
    color: hsl(71, 73%, 54%);
}
.container-box-first p{
    color: hsl(218, 22%, 67%);
}

/* Segunda Div Principal */
.container-box-second{
    width: 100%;
    height: 55%;
}
/* Primeira Caixa da Segunda Div */
.container-box-second .caixa1{
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    float: left;
    color: #FFF;
}
.caixa1 h3{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 15px;
}
.caixa1 .dolar{
    font-size: 2em;
    margin-bottom: 7px;
}
.caixa1 .dolar span{
    margin-left: 10px;
    margin-bottom: 30px;
    color: hsl(203, 12%, 79%);
}
/* Botão Sing Up */
.caixa1 .enviar{
    width: 100%;
    height: 45px;
    margin-top: 35px;
    border-radius: 5px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: #FFF;
    cursor: pointer;
    /* box-shadow: 0 0 0.2em hsl(71, 73%, 54%); */
   
}
.enviar:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

/* Segunda Caixa da Segunda Div */
.container-box-second .caixa2{
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: #4abebd;
    border-bottom-right-radius: 10px;
    float: left;
    color: hsl(204, 43%, 93%);
}
.caixa2 h3{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
}
.caixa2 .sub-caixa2{
    margin-top: 20px;
    color: hsl(201, 21%, 87%);
    width: 200px; 
}

/* FOOTER */
.attribution {
    font-size: 11px; 
    text-align: center;
 }
.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
 }

/* RESPONSIVIDADE ADAPTATIVA*/
@media(max-width:1023px){
 .container{
     width: 375px;
     margin-top: 0;
 }
 .container-box-first{
     width: 100%;
     margin-bottom: 30px;
 }
 .container-box-second .caixa1{
    width: 100%;
    border-radius: 0px;
    
 }
.container-box-second .caixa2{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 footer{
     width: 375px;
     margin: auto;
 }
}